    <p>
      <strong>名前：</strong>
      <%= comment.user.username %>
    </p>
    
    <p>
      <strong>タイトル：</strong>
      <%= comment.title %>
    </p>
     
    <p>
      <strong>内容：</strong>
      <%= simple_format comment.content %>
    </p>