
  <p>
  <strong>名前：</strong>
  <%= comment.user.username %>
  </p>
      
  <p>
    <strong>タイトル：</strong>
    <%= comment.title %>
  </p>
       
  <p>
    <strong>内容：</strong>
    <%= simple_format comment.content %>
  </p>
  
<% if current_user.admin? %>
  <p>
    <%= link_to '削除', [comment.article, comment],
                method: :delete, data: { confirm: '削除しますか？' } %>
  </p>
<% end %>
