<h1>全ての投稿一覧</h1>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

  <% @articles.each do |post| %>
    <tr>
      <td><%= post.store_name %></td>
      <td><%= post.adress %></td>
    </tr>
  <% end %>
</table>