<h1>マイページ</h1>
  
<div class="col-md-6 offset-md-3 mypage">
  <table class="table">
    <tbody>
        <tr>
            <th>プロフィール画像</th>
            <td><%= image_tag @user.image.thumb.url %></td>
        </tr>
        <tr>
            <th>名前</th>
            <td><%= @user.username %></td>
        </tr>
        <tr>
            <th>自己紹介</th>
            <td><%= @user.self_introduction %></td>
        </tr>
    </tbody>
  </table>
</div>
<div class="col-md-6 offset-md-3 update">
    <p><%= button_to "アカウントを編集する", edit_user_registration_path(@user),
    class:'btn btn-primary mx-auto d-block',method: :get%></p>
</div>