<h1>マイページ</h1>
  
  
  <p>
    プロフィール画像
    <img src=<%= @user.image %> class = "icon_image">
  </p>
  
  <p>
    <strong>ユーザー名：</strong>
    <%= @user.username %>
  </p>
  
  <p>
    <strong>自己紹介文：</strong>
    <%= simple_format @user.self_introduction %>
  </p>