<% if user_signed_in? %>
  <% if article.favorite_user(current_user.id) %>
    <%= button_to article_favorite_path(article, favorite), method: :delete, remote: true,class:'btn btn-success mx-auto d-block unfavorite' do %>
      <span>
        <i class='fa fa-check' aria-hidden='true'></i>
        お気に入りを外す<span class='favorites-count'><%= article.favorites_count %></span>
      </span>
    <% end %>
  <% else %>
    <%= button_to article_favorites_path(article), remote: true,class:'btn btn-outline-success mx-auto d-block favorite' do %>
      <span>
         お気に入りに追加する<span class='unfavorites-count'><%= article.favorites_count %></span>
      </span>
    <% end %>  
  <% end %>
<% end %>