// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";


body { 
  padding-top: 100px; 
  padding-bottom: 70px; 
}

//テストユーザー
.test-user .card {
  margin:  0 auto;
  text-align: left;
  padding-top: 15px;
  // background-color: #F3FFD8	;
}

.test-user h5 {
  text-align: center;
}

// 店舗一覧ページ
.card{
  margin-top: 20px; 
}

// 検索フォームのボーダー
.border-bottom{
  margin-bottom: 20px; 
  padding-bottom: 20px; 
}

// フラッシュメッセージ
.alert,#error_explanation {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: center;
}

.notice {
  background-color: #dff0d8;
  border-color:  #d6e9c6;
  color: #468847;
  text-align: center;
}

// noticeだけbootstrapに以下の設定が読み込まれていなかった。

.notice {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

// ページネーションの中央寄せ

.pagination {
  display: inline-flex;
  margin: 20px 0;
}

// このサイトについて
.about{
  text-align: center;
  padding: 50px;
  h3{
     display: inline-block;
     border-bottom: solid 3px black;
  }
}

//お気に入り
.favorite,.unfavorite{
  margin-bottom: 30px;
}

// お気に入り数
.favorites-count,.unfavorites-count{
  margin-left: 10px;  
}
