// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";


body { 
  padding-top: 70px; 
  padding-bottom: 70px; 
}

.card{
  margin-top: 20px; 
}

.border-bottom{
  margin-bottom: 20px; 
}
.form-group{
  
}