<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Free-Wifi-Cafe</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "トップ画面",root_path,class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "よくある質問",question_path,class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "お問い合わせ",class: "nav-link" %>
          </li>
        </ul>
      </div>
    </nav>
